.provider{
    width: 25%;
    min-width: 300px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.provider h2{
    text-align: center;
}

.provider input{
    width: 100%;
    box-sizing: border-box;
}

.provider .buttons{
    text-align: right;
}